body {
  margin: 0px 0px;
}

a {
  margin: 0px 30px;
  color: black;
  text-transform: uppercase;
  font-family: "Roboto";
}


a:hover {
  color: #CD5D67;
  transition-duration: 2s;
}

a:active {
  color: #968772;
  transition-duration: 2s;
}

header {
  background-image: url("./images/optimized/bent-creek-logo.png");
  background-size: 40px 45px;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  background-position: left;
  padding: 15px 0px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0px 8px 6px -10px black;
}

nav {
  display: flex;
  justify-content: center;
  font-size: 130%;
}

h1 {
  font-size: 50px;
  font-weight: 400;
  margin-top: 90px;
  margin-bottom: 0px;

}

h2 {
  font-weight: 200;
  font-size: 30px;
  margin-top: 10px;
}

table {
  border: 1px solid;
  border-collapse: collapse;
}

td {
  border: 1px solid;
  padding: 3px 10px 3px 10px;
}

footer {
  color: white;
  font-family: "Mierweather";
  background-color: black;
  padding: 20px 10px;
}

.AboutBackground {
  background-color: #F2F1E8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 200px 25px 200px;
  color: #131511;
  font-family: "Merriweather";
  font-weight: 400;
  line-height: 40px;
}

.main {
  background-image: url(./images/optimized/background-2.jpg);
  padding: 9% 15% 10% 16%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.signup {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Merriweather";
  padding: 0% 0%;
}

.newsletter {
  margin-bottom: 5px;
  font-weight: 300;
}

.date {
  font-weight: 300;
}

input {
  border: 0;
  border-bottom: 3px solid #968772;
  width: 450px;
  margin-top: 25px;
  font-family: "Merriweather";
  font-size: 20px;
}

#submit_button {
  color: white;
  background-color: #968772;
  width: 100px;
  height: 50px;
  margin-bottom: 25px;
  font-size: 15px;
}

.community {
  font-size: 75px;
  font-family: "Merriweather";
  font-weight: 300;
  margin-top: 110px;
  margin-bottom: 50px;
  padding-left: 40px;
}

.bluebird {
  width: 150px;
}

.OurStudio {
  float: left;
  margin-right: 30px;
}

.OurMission {
  font-style: italic;
  font-weight: lighter;
  border-left: 1px solid;
  padding-left: 20px;
}

.hTwoAbout {
  font-weight: lighter;
}

.AboutImage {
  background-image: url("./images/optimized/background-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  width: 138%;
  height: 250px;
}

.RoomtoGrow {
  font-size: 60px;
  color: white;
  text-align: center;
  margin-top: 100px;
}

.pottery {
  float: right;
  width: 150px;
}

.EveryMember {
  float: right;
  clear: right;
  width: 145px;
  font-weight: lighter;
  font-size: 80%
}

.TableDataOne {
  text-align: center;
}

.TrColor {
  background-color: #faebd7;
}

.P_Link{
  color: #968772;
  text-transform: lowercase;
  text-decoration: underline;
  font-family: 'Merriweather';
  margin: 0;
}

.P_Link:hover {
  color: #967343;
}

.IndexBackground {
  background-color: #F2F1E8;
}

.maintext {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Images {
  display: flex;
  flex-wrap: wrap;
  color: #F2F1E8;
  justify-content: space-around;
  padding: 0 5px;

}

#Endless {
  list-style-type: none;
  background-image: url("./images/optimized/product-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  flex-basis: 59%;
  height: 300px;
}

#Endless p {
   background-color: #2b2f30 ;
   color: #F2F1E8 ;
   position: absolute;
   bottom: 0px;
   padding: 1em;
}

#Sets {
  list-style-type: none;
  background-image: url("./images/optimized/product-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  flex-basis: 19%;
  height: 300px;

}

#Sets P {
  background-color: #2b2f30 ;
  color: #F2F1E8 ;
  position: absolute;
  bottom: 0px;
  padding: 1em;
}

#Textures {
  list-style-type: none;
  background-image: url("./images/optimized/product-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  flex-basis: 19%;
  height: 300px;
}

#Textures p {
  background-color: #2b2f30 ;
  color: #F2F1E8 ;
  position: absolute;
  bottom: 0px;
  padding: 1em;
}

.ImagesTwo {
  display: flex;
  flex-wrap: wrap;
  color: #F2F1E8;
  justify-content: space-around;
  padding: 0px 5px;
}

#Tea {
  list-style-type: none;
  background-image: url("./images/optimized/product-4.jpg");
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
  background-size: cover;
  flex-basis: 19%;
  height: 200px;
  vertical-align: bottom;
}

#Tea p {
  background-color: #2b2f30 ;
  color: #F2F1E8 ;
  position: absolute;
  bottom: 0px;
  padding: 1em;
}

#Jars {
  list-style-type: none;
  background-image: url("./images/optimized/product-5.jpg");
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
  background-size: cover;
  flex-basis: 19%;
  height: 200px;
}

#Jars p {
  background-color: #2b2f30 ;
  color: #F2F1E8 ;
  position: absolute;
  bottom: 0px;
  padding: 1em;
}

#Wasabi {
  list-style-type: none;
  background-image: url("./images/optimized/product-6.jpg");
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  background-size: cover;
  flex-basis: 39%;
  height: 200px;
}

#Wasabi p {
  background-color: #2b2f30 ;
  color: #F2F1E8 ;
  position: absolute;
  bottom: 0px;
  padding: 1em;
}

#Sippin {
  list-style-type: none;
  background-image: url("./images/optimized/product-7.jpg");
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
  background-size: cover;
  flex-basis: 19%;
  height: 200px;
}

#Sippin p {
  background-color: #2b2f30 ;
  color: #F2F1E8 ;
  position: absolute;
  bottom: 0px;
  padding: 1em;
}
