body {
  margin: 0px 0px;
}

a {
  margin: 0px 30px;
  color: black;
  text-transform: uppercase;
  font-family: "Roboto";
}


a:hover {
  color: #CD5D67;
}

header {
  background-image: url("./images/optimized/bent-creek-logo.png");
  background-size: 40px 45px;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  background-position: left;
  padding: 15px 0px;
}

nav {
  display: flex;
  justify-content: center;
  font-size: 130%;
}

.main {
  background-image: url(./images/optimized/background-2.jpg);
  padding: 4% 15% 15% 15%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.signup {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Merriweather";
  padding: 0% 0%;
}

.newsletter {
  margin-bottom: 5px;
  font-weight: 300;
}

.date {
  font-weight: 300;
}

input {
  border: 0;
  border-bottom: 3px solid #968772;
  width: 450px;
  margin-top: 25px;
  font-family: "Merriweather";
  font-size: 20px;
}

#submit_button {
  color: white;
  background-color: #968772;
  width: 100px;
  height: 50px;
  margin-bottom: 25px;
  font-size: 15px;
}
